* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0b113e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.2;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu button {
    background-color: #0044cc;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #003399;
}

.content {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adicionando espaço entre as divs */
    flex: 1;
}

.section {
    display: none;
}

.section h1 {
    font-size: 2.5em;
}

.form-container {
    flex: 0.6;
    margin-right: 20px; /* Adicionando margem entre inputs e modelos */
}

.modelos-container {
    flex: 0.4;
    overflow-y: scroll;
    height: 600px;
    border: 2px solid #0044cc;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 68, 204, 0.5);
}

.modelos-container .modelo {
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
}

p {
    margin-bottom: 10px;
}

.input-row {
    display: flex;
    margin-bottom: 15px;
}

input[type="text"],
input[type="tel"],
select {
    width: calc(50% - 5px); /* Ajustando a largura para inputs mais juntos */
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    background-color: #0b113e;
    color: #ffffff;
    border-radius: 15px;
}

input[type="email"] {
    width: 60%; /* Ajustando a largura do input de e-mail */
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    background-color: #0b113e;
    color: #ffffff;
    border-radius: 15px;
}

input[type="file"] {
    background-color: #0b113e;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
    display: inline-block;
    border: 1px solid #ffffff;
    width: auto;
}

input[type="file"]::file-selector-button {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #003399;
}

input[type="file"]::after {
    content: '';
}

hr {
    border: 1px solid #ffffff;
    margin-top: auto;
}

footer {
    background-color: #0b113e;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    width: 100%;
}

.modelos-container::-webkit-scrollbar {
    width: 6px;
    margin-right: 10px;
}

.modelos-container::-webkit-scrollbar-thumb {
    background-color: #0044cc;
    border-radius: 10px;
}

.modelos-container::-webkit-scrollbar-track {
    background-color: #0b113e;
}

label{
    color: #76a3d6;
}

.styled-hr {
    width: 50%;
    margin: 20px auto; /* Centraliza a linha horizontal */
    border: 0;
    height: 4px; /* Ajuste a altura da linha */
    border-radius: 100%;
    background: linear-gradient(to right, #92a1c0, #0044cc, #92a1c0);
}

.styled-hr2 {
    width: 80%;
    margin: 20px auto;
    border: 0;
    height: 4px; /* Ajuste a altura da linha */
    border-radius: 100%;
    background: linear-gradient(to right, #92a1c0, #0044cc, #92a1c0);
}