form label {
    font-weight: 600;
}

form .form-control, form .input-group-text {
    border-radius: 50px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-color: #3802ff;
}

#ass a {
    text-decoration: none;
}

.input-group-text {
    border: none;
}

.form-control:hover, .input-group-text:hover {
    border-color: var(--color);
    box-shadow: 0 0 10px #0157EF; 
}

.mb-5 {
    transition: transform 0.3s ease;
}

.mb-5:hover { 
    transform: scale(1.05);
}

.mb-5 a {
    text-decoration: none;
}

.mb-5 a:hover {
    text-decoration: underline;
}

/* Animation for the pop-up */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -50%) scale(0.5); }
    10% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
    90% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
    100% { opacity: 0; transform: translate(-50%, -50%) scale(0.5); }
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #4d48e2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 2s forwards;
}

/* Adicione ou ajuste estas regras CSS */
.img-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.round-image {
    width: 100%;
    height: 20px;
}

.form-row{
    position: sticky;
    background-color: #ffffff;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    background-color: #fff;
    margin: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
    padding: 16px;
    word-wrap: break-word;
    text-align: center;
}

.img-preview {
    width: 100px;
    height: 100px;
    color: white;
    object-fit: cover;
}

@media (min-width: 768px) {
    .flex-col {
        flex-direction: row;
        align-items: flex-start;
    }

    .text-center-md {
        text-align: left;
    }
}

/* BARRA DE ROLAGEM DAS ASSINATURAS */
.scroll-box {
    width: 800px;
    height: 800px;
    border: none;
    padding: 10px;
    overflow-y: scroll; /* Sempre mostra a barra de rolagem vertical */
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
  }:root {
    --button-background: #4d48e2;
    --button-color: white;
    --dropdown-highlight: #4d48e2;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
}

.signature {
    width: 300px;
    border: 1px solid #e1e1e1;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 20px;
}

.photo {
    flex: 1;
    text-align: center;
}

.photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #1e90ff;
}

.details {
    flex: 2;
    padding-left: 20px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #1e90ff;
}

.position {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 14px;
    color: #666;
}

.contact-info div {
    margin-bottom: 5px;
}


.scroll-box {
    width: 800px;
    height: 800px;
    border: none;
    padding: 10px;
    overflow-y: scroll; /* Sempre mostra a barra de rolagem vertical */
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

:root {
    --button-background: #4d48e2;
    --button-color: white;
    --dropdown-highlight: #4d48e2;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
}

/* Estilização da barra de rolagem para navegadores baseados em WebKit (Chrome, Safari) */
.scroll-box::-webkit-scrollbar {
    width: 12px;
}

.scroll-box::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: var(--button-background);
    border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: var(--dropdown-highlight);
}

/* Estilização da barra de rolagem para Firefox */
.scroll-box { 
    scrollbar-width: thin;
    scrollbar-color: var(--button-background) #f1f1f1;
}

/* Estilização da barra de rolagem para IE e Edge */
.scroll-box {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll-box::-ms-scrollbar {
    width: 12px;
}

.scroll-box::-ms-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scroll-box::-ms-scrollbar-thumb {
    background: var(--button-background);
    border-radius: 10px;
}

.scroll-box::-ms-scrollbar-thumb:hover {
    background: var(--dropdown-highlight);
}